/* color palette
dark aqua #25CED1
white #FFF
beige/cream #FCEADE
orange #FF8A5B
dark magenta #EA526F
*/


body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #25CED1;
  text-align: center;
}

canvas {
  border-style: solid;
  border-color: #EA526F;
  margin: 2em;
}

nav button {
  background: #FF8A5B;
}

#color-palette {
  float: left;
}
