/* color palette
dark aqua #25CED1
white #FFF
beige/cream #FCEADE
orange #FF8A5B
dark magenta #EA526F
*/


body {
  background-color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #25CED1;
  text-align: center;
}

canvas {
  border-style: solid;
  border-color: #EA526F;
  margin: 2em;
}

nav button {
  background: #FF8A5B;
}

#color-palette {
  float: left;
  margin: 5px;
}

#color-palette div {
  color: white;
  padding: 9px;
}

.navy-box {
  background-color: #001f3f;
}

.blue-box {
  background-color: #0074d9;
}

.aqua-box {
  background-color: #7fdbff;
}

.olive-box {
  background-color: #3d9970;
}

.green-box {
  background-color: #2ecc40;
}

.lime-box {
  background-color: #01ff70;
}

.yellow-box {
  background-color: #ffdc00;
}

.orange-box {
  background-color: #ff851b;
}

.purple-box {
  background-color: #b10dc9;
}

.fuschia-box {
  background-color: #f012be;
}

.red-box {
  background-color: #ff4136;
}

.maroon-box {
  background-color: #85144b;
}

.gray-box {
  background-color: #aaaaaa;
}

.black-box {
  background-color: #111111;
}